<!--<section>
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada por interpolação : {{ url }}</p>
        <p>Resultado de 1 + 1 é {{ 1 + 1 }} </p>
        <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }} </p>
        <p>Curso de Angular e gosto do curso : {{ cursoAngular && getCurtirCurso() }} </p>
    </article>
</section>

<section>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImagem }}">
        <img [src]="urlImagem">
        <img bind-src="urlImagem">
    </article>
</section>

<section>
    <article>
        <h3>Class e Style Binding</h3>
        <div>Selecione uma classe
            <select #classe (change)="0">
                <option value="alert-success">Success</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Danger</option>
            </select>
        </div>
        <br /> <br />
        <div class="alert {{ classe.value }}" role="alert">Texto colorido conforme opção selecionada</div>
        <div class="alert alert-danger" role="alert"
            [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Texto só aparece em caso de erro</div>

        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">success</div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">info</div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">warning</div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">danger</div>
    </article>
</section>

<section>
    <article>
        <h3>Event Binding</h3>
        <div>
            <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

            <br /><br />
            <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(valorInput.value)"
                (blur)="salvarValor(valorInput.value)" #valorInput />
            <p>Valor Atual: {{ valorAtual }}</p>
            <p>Valor Salvo: {{ valorSalvo }}</p>
            <br />
            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highligth]="isMouseOver">Passe o
                mouse sobre mim</span>
        </div>
    </article>
</section>

<app-meu-form></app-meu-form>
!-->

<section>
    <article>
        <h3>Input/Output Properties</h3>
        <app-curso [nome]="nomeDoCurso"></app-curso>

        <app-contador [valor]="valorInicial" 
        (mudouValor)="onMudouValor($event)"></app-contador>
    </article>
</section>